@model IEnumerable<ECommerce.Application.Core.Entities.Order>

@{
    ViewData["Title"] = "ViewCart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Cart</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Order Id
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                Price
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                Rs. @Html.DisplayFor(modelItem => item.TotalPrice)
            </td>
            <td>
                <form asp-action="Delete" method="post">
                    @Html.AntiForgeryToken()
                    <input type="hidden" value="@item.Id" name="Id">
                    <button type="submit" class="btn btn-danger text-light" >Delete</button>
                </form>
            </td>
        </tr>
}
    </tbody>
    <tfoot>
        <tr>
            <td>Total:</td>
            <td></td>
            <td></td>
            <td>Rs. @ViewData["totalPrice"]</td>
            <td>
                <form asp-action="CheckOut" method="post">
                    <span class="text-danger">
                    @Html.ValidationSummary()
                    </span>
                    @Html.AntiForgeryToken()
                    <button type="submit" class="btn btn-dark" >Check Out</button>
                </form>
            </td>
        </tr>
    </tfoot>
</table>
